@use '../abstracts/' as *;

$columns: 12;

.grid {
    display: grid;
    gap: 30px;

    @include mq(md) {
        grid-template-columns: repeat($columns, 1fr);
    }
}

// Standard column styles
@for $i from 1 through $columns {
    .col-#{$i} {
        grid-column: span $i;
    }
}

// Column styles with media query variants
@each $breakpoint, $value in $breakpoints {
    @for $i from 1 through $columns {
        .#{$breakpoint}\:col-#{$i} {
            @include mq(#{$breakpoint}) {
                grid-column: span $i;
            }
        }
    }
}
