@forward 'grid';
@forward 'text';

@use '../abstracts/' as *;

// Use sr-only to hide an element visually without hiding it from screen readers
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    max-width: 100%;
    padding: 0 1rem;

    @each $key, $value in $breakpoints {
        @if $key == xl {
            @include mq($key) {
                max-width: 1200px;
            }
        } @else {
            @include mq($key) {
                max-width: $value;
            }
        }
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

@each $breakpoint, $value in $breakpoints {
    .#{$breakpoint}\:hidden {
        @include mq(#{$breakpoint}) {
            display: none;
        }
    }
    .#{$breakpoint}\:block {
        @include mq(#{$breakpoint}) {
            display: block;
        }
    }
}
