@use '../abstracts/' as *;

.about-us {
    padding: toRem(50) 0;

    background-color: getColour(slate, 700);
    color: $white;

    p {
        line-height: 1.875rem;
    }

    a:not(.btn) {
        &:hover {
            text-decoration: underline;
        }
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
        row-gap: toRem(20);
        column-gap: toRem(10);
        margin-top: toRem(25);
    }

    .btn {
        font-size: toRem(20);
        padding: toRem(10) toRem(27);
        border-radius: 6px;

        align-self: flex-start;

        line-height: toRem(35);
    }

    .grid {
        gap: toRem(50);
    }

    .icon {
        font-size: toRem(20);
    }

    &__welcome,
    &__clients {
        display: flex;
        flex-direction: column;
    }

    &__welcome {
        p:first-of-type {
            font-weight: 600;
        }

        .btn {
            background-color: getColour(slate, 800);

            &:hover {
                background-color: getColour(slate, 900);
            }
        }
    }

    &__clients {
        p {
            font-weight: 600;
        }

        p:first-of-type {
            font-size: 1.3rem;
        }

        p:not(:first-of-type) {
            font-size: 1.05rem;
        }
    }

    &__heading {
        margin-bottom: toRem(40);

        font-size: toRem(36);
        font-weight: 600;
    }

    &__body {
        flex: 1;

        > * + * {
            margin-top: toRem(25);
        }
    }

    &__star {
        font-size: toRem(45);
        color: orange;
    }

    &__quote-author {
        color: #a3a8ac;
    }
}
