@use '../abstracts' as *;

.header {
    $spacing: toRem(20);
    background-color: $white;

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $zi-header;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);

        &.slideDown {
            animation: slideDown 0.25s;
            transform: translateY(0);

            @keyframes slideDown {
                0% {
                    transform: translateY(-100%);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }

        &.slideUp {
            animation: slideUp 0.25s;
            transform: translateY(-100%);

            @keyframes slideUp {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-100%);
                }
            }
        }
    }

    &__inner {
        margin: 0 auto;
        padding: $spacing 1rem;

        display: flex;
        flex-direction: column;
        gap: toRem(20);

        .icon-phone_in_talk {
            font-size: toRem(32);
        }
    }

    &__logo {
        @include mq(lg) {
            max-width: 370px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $spacing;
    }

    &__actions {
        display: flex;
        justify-content: end;
        align-items: stretch;
        gap: $spacing;

        flex: 1;
    }
}
