@use '../abstracts/' as *;

.newsletter-signup {
    padding-top: toRem(50);
    padding-bottom: toRem(50);

    background-color: getColour(dark-gray, 100);
    color: getColour(slate, 700);

    form {
        > * + * {
            margin-top: 2rem;
        }
    }

    h2 {
        font-size: 2rem;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: getColour(slate, 800);
        }
    }

    label:has(+ input:required) {
        &::after {
            content: ' *';
            color: #d24d57;
        }
    }

    .btn {
        padding: toRem(5) toRem(15);

        color: white;
        font-size: 1.063rem;
        line-height: toRem(35);
        text-transform: uppercase;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include mq(lg) {
            flex-direction: row;
        }

        > * {
            flex: 1;
        }

        label {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
    }
}
