$white: #ffffff;

$gray-100: hsl(230, 5%, 90%);
$gray-400: hsl(230, 5%, 62%);
$gray-500: hsl(226, 5%, 52%);

$dark-gray-100: hsl(0, 0%, 90%);
$dark-gray-200: hsl(0, 0%, 80%);
$dark-gray-500: hsl(0, 0%, 53%);
$dark-gray-700: hsl(0, 0%, 33%);

$slate-800: hsl(230, 15%, 24%);
$slate-900: hsl(230, 15%, 16%);

$blue-400: hsl(214, 65%, 55%);
$blue-500: hsl(214, 65%, 47%);
