@use '../abstracts' as *;

%btn-base {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 3px;

    cursor: pointer;
}

%btn-square {
    @extend %btn-base;

    padding: 0.75rem;
}

%btn-cta {
    @extend %btn-base;

    color: $white;

    font-size: toRem(18);
    text-transform: uppercase;
}

.btn {
    @extend %btn-base;
}

.btn-phone {
    @extend %btn-square;

    color: $slate-700;

    &:hover {
        color: $slate-800;
    }

    @include mq(md) {
        display: none;
    }
}

.btn-hamburger {
    @extend %btn-square;

    flex-shrink: 0;
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 63px;
    height: 56px;
    padding: 0;

    background-color: $slate-700;
    color: white;

    &:hover,
    &:focus-visible {
        background-color: $slate-800;
    }

    span {
        background-color: white;
        width: 33px;
        height: 4px;
    }
}

.btn-search-mobile {
    @extend %btn-square;
    border-radius: 0;
}

.btn-search-desktop {
    @extend %btn-square;

    width: 55px;
    flex-shrink: 0;

    background-color: $gray-400;
    color: white;

    border-radius: 0 3px 3px 0;

    &:hover {
        background-color: $gray-500;
    }

    @include mq(lg) {
        border-radius: inherit;
    }

    @include mq(xl) {
        border-radius: 0 3px 3px 0;
    }
}

.btn-support,
.btn-contact {
    @extend %btn-cta;

    display: none;

    @include mq(lg) {
        display: flex;
    }
}

.btn-support {
    background-color: $blue-400;

    &:hover {
        background-color: $blue-500;
    }
}

.btn-contact {
    background-color: $gray-400;

    &:hover {
        background-color: $gray-500;
    }
}

.btn-google {
    background-color: $blue-400;

    &:hover {
        background-color: $blue-500;
    }
}

.btn-trustpilot {
    background-color: $green-400;

    &:hover {
        background-color: $green-500;
    }
}

.btn--silver {
    background-color: $silver-400;

    &:hover {
        background-color: $silver-500;
    }
}

.btn--blue {
    background-color: $blue-400;

    &:hover {
        background-color: $blue-500;
    }
}

.btn--green {
    background-color: $green-400;

    &:hover {
        background-color: $green-500;
    }
}

.btn--purple {
    background-color: $purple-400;

    &:hover {
        background-color: $purple-500;
    }
}

.btn--slate {
    background-color: $slate-700;

    &:hover {
        background-color: $slate-800;
    }
}
