@use 'sass:map';
@use '../abstracts' as *;

%btn-base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;

    border-radius: 3px;

    color: $white;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

%btn-square {
    @extend %btn-base;

    padding: 0.75rem;
}

%btn-cta {
    @extend %btn-base;

    font-size: toRem(18);
}

.btn {
    @extend %btn-base;
}

.btn-phone {
    @extend %btn-square;

    padding: 0;

    color: getColour(slate, 700);

    &:hover {
        color: getColour(slate, 800);
    }

    @include mq(md) {
        display: none;
    }
}

.btn-hamburger {
    &:focus-visible {
        background-color: getColour(slate, 800);
    }
}

.btn-search-mobile {
    @extend %btn-square;

    color: getColour(slate, 700);
    border-radius: 0;
}

.btn-search-desktop {
    @extend %btn-square;

    width: 55px;
    flex-shrink: 0;

    border-radius: 0 3px 3px 0;

    @include mq(lg) {
        border-radius: inherit;
    }

    @include mq(xl) {
        border-radius: 0 3px 3px 0;
    }
}

.btn-support,
.btn-contact {
    @extend %btn-cta;

    display: none;

    @include mq(lg) {
        display: flex;
    }
}

// Button background colors
@each $colour, $shades in $colors {
    $shade: 400;
    $hoverShade: 500;

    @if $colour == slate {
        $shade: 700;
        $hoverShade: 800;
    }

    .btn--#{$colour} {
        background-color: getColour($colour, $shade);

        &:hover {
            background-color: getColour($colour, $hoverShade);
        }
    }
}
