@use '../abstracts/' as *;

%carousel {
    margin: toRem(50) 0;
    padding-left: toRem(20);

    img {
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }
    }
}

.carousel {
    @extend %carousel;
}

.carousel-clients {
    @extend %carousel;

    h3 {
        font-size: 1.125rem;
    }

    p {
        font-size: 0.8125rem;
        line-height: 1.375rem;
    }

    .btn {
        line-height: toRem(35);

        .icon {
            font-size: 1rem;
        }
    }

    &__image-container {
        position: relative;

        max-width: 200px;
        height: 70px;

        picture,
        img {
            width: auto;
            height: 100%;
        }

        img {
            object-fit: contain;
        }

        &:hover .carousel-clients__tooltip {
            display: block;
        }
    }

    &__tooltip {
        --arrow-size: 35px;
        --tooltip-y-offset: 20px;

        position: absolute;
        bottom: calc(100% + var(--arrow-size) + var(--tooltip-y-offset));
        left: 50%;
        transform: translateX(-50%);

        display: none;
        width: 300px;
        padding: toRem(20);

        background-color: getColour(slate, 700);
        color: white;
        text-align: center;

        * + *:not(.arrow-down) {
            margin-top: 1.25rem;
        }

        .arrow-down {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);

            width: 100%;
            // adds a buffer zone to keep the hover effect
            height: calc(var(--arrow-size) + var(--tooltip-y-offset));

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

                border-style: solid;
                border-width: var(--arrow-size) var(--arrow-size) 0;
                border-color: getColour(slate, 700) transparent transparent;
            }
        }
    }
}
