@use '../abstracts/' as *;

%search-form {
    display: flex;

    border-radius: 3px;

    input {
        height: 100%;

        font-size: toRem(14);

        &::placeholder {
            color: $dark-gray-500;
        }
    }
}

.search-form-mobile {
    @extend %search-form;

    align-items: center;

    background-color: $dark-gray-100;
    border: 2px solid $dark-gray-200;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    @include mq(md) {
        display: none;
    }

    input {
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }
}

.search-form-desktop {
    @extend %search-form;

    display: none;

    @include mq(md) {
        display: flex;
    }

    input {
        color: $dark-gray-700;

        @include mq(xl) {
            min-width: 240px;
        }
    }

    &__form-group {
        @include mq(lg) {
            display: none;
        }

        @include mq(xl) {
            display: block;
        }
    }
}
