// Override Splide (Carousel library) styles
.splide {
    z-index: 2;

    &__track {
        overflow: visible !important;
    }

    &__pagination {
        bottom: 44px !important;
        gap: 20px;

        @media screen and (max-width: 500px) {
            bottom: 20px !important;
        }

        &__page {
            width: 11px !important;
            height: 11px !important;
            margin: 0 !important;
            display: block !important;

            &.is-active {
                transform: none !important;
                background: #fff !important;
                opacity: 1 !important;

                &:after {
                    content: '';
                    position: absolute;
                    top: -6px;
                    left: -6px;
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                }
            }
        }
    }
}
